@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    --gradient-start-color: #FD746C;
    --gradient-end-color: #2C3E50;
    --fontStyle:'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: var(--gradient-start-color); /* Fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient-start-color), var(--gradient-end-color)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--gradient-start-color), var(--gradient-end-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-size: 100vw 100vh; */
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    font-style: var(--fontStyle);

}
